<ion-header>
  <ion-toolbar>
    <ion-title>German</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="Container4">
    <ion-button color="dark" shape="round" (click)="btnClicked()" routerLink="/second">
      Back</ion-button>
  </div>

  
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Enthusiasmus	</b></h4><p>Ihre Enthusiasmus war groß.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/1.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Dialog	</b></h4><p>Der Dialog führte nirgendwohin.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/2.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>ökonomisch	</b></h4><p>Dieser Computer ist ökonomisch.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/3.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Ironisch	</b></h4><p>George ist ironisch.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/4.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Sarkastisch	</b></h4><p>George ist sarkastisch.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/5.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Phänomen	</b></h4><p>Takis ist ein Phänomen.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/6.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Charakteristisch	</b></h4><p>Dies ist ein charakteristisches Beispiel.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/7.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Programm	</b></h4><p>Er hatte ein Programm und bestand die Lektionen.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/8.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Prophylaxe	</b></h4><p>Sex ohne Prophylaxe ist gefährlich.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/9.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Chaos	</b></h4><p>In der Mitte herrscht Chaos.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/10.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Katastrophe	</b></h4><p>Die Katastrophe der Welt naht.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/11.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Panethnisch	</b></h4><p>Die panethnische Kundgebung wurde abgesagt.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/12.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Heuchlerisch	</b></h4><p>George ist heuchlerisch.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/13.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Monolog	</b></h4><p>Der Monolog des Schauspielers.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/14.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Festhalten	</b></h4><p>Der Trainer festhalten die Abwehr.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/15.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Eugenisch	</b></h4><p>Obwohl er studiert hat, ist er kein eugenisch.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/16.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Dynamik	</b></h4><p>Dynamik hat nichts mit dem Blatt zu tun.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/17.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Politiker	</b></h4><p>Politiker sind Diebe und Heuchler.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/18.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Numismatisch	</b></h4><p>Numismatische Inflation schafft Probleme.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/19.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Monopole	</b></h4><p>Spiele waren ein staatliches Monopol.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/20.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Basisch	</b></h4><p>Der basisch spieler wurde verletzt.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/de/21.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>


</ion-content>