ion-content.background{
    --background: url(../../assets/images/germany.png) 0 0/100% 100% no-repeat;
  }

.Container4{
    background: none;
    position: relative;
    
}

.row{
    color: white;
}