ion-content.background{
    --background: url(../../assets/images/greek.jpg) 0 0/100% 100% no-repeat;
  }

.Container4{
    background: none;
    position: relative;
    
}

.row{
   background-color: white;
}