<ion-header>
  <ion-toolbar>
    <ion-title>Greek</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="Container4">
    <ion-button color="dark" shape="round" (click)="btnClicked()" routerLink="/second">
      Back</ion-button>
  </div>

  
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Eνθουσιασμός</b></h4><p>Ο ενθουσιασμός της ήταν μεγάλος.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/1.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Διάλογος</b></h4><p>Ο διάλογος δεν οδήγησε πουθενά.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/2.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Οικονομικός</b></h4><p>Αυτός ο υπολογιστής είναι οικονομικός.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/3.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Ειρωνικός</b></h4><p>Ο Γιωργος είναι ειρωνικός.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/4.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Σαρκαστικός</b></h4><p>Ο Γιωργος είναι σαρκαστικός.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/5.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Φαινόμενο</b></h4><p>Ο Τάκης είναι φαινόμενο.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/6.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Χαρακτηριστικό </b></h4><p>Αυτός είναι χαρακτηριστικό παράδειγμα.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/7.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Πρόγραμμα</b></h4><p>Είχε πρόγραμμα και πέρασε τα μαθήματα.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/8.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Προφύλαξη</b></h4><p>Το σεξ χωρίς προφύλαξη είναι επικίνδυνο.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/9.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Χάος</b></h4><p>Επικρατεί χάος στο κέντρο.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/10.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Καταστροφή</b></h4><p>Η καταστροφή του κόσμου πλησιάζει.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/11.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Πανεθνικό</b></h4><p>Το πανεθνικό συλλαλητήριο ματαιώθηκε.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/12.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Ανυπόκριτος</b></h4><p>Ο Γιώργος είναι ανυπόκριτος.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/13.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Μονόλογος</b></h4><p>Ο μονόλογος του ηθοποιού.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/14.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Εμφαση</b></h4><p>Ο προπονητής έδωσε έμφαση στην άμυνα.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/15.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Ευγενικός</b></h4><p>Αν και έχει σπουδάζει δεν είναι ευγενικός.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/16.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Δυναμισμός</b></h4><p>Ο δυναμισμός δεν έχει να κάνει με το φύλλο.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/17.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Πολιτικοί</b></h4><p>Οι πολιτικοί είναι κλέφτες και υποκριτες.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/18.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Νομισματικός</b></h4><p>Ο νομισματικός πληθωρισμός δημιουργεί προβλήματα.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/19.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Μονοπώλια</b></h4><p>τα σπίρτα ήταν κρατικό μονοπώλιο.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/20.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Βασικός</b></h4><p>Ο βασικός παίκτης τραυματίστηκε.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/gr/21.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>


</ion-content>
