<ion-header>
  <ion-toolbar>
    <ion-title>English</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="Container4">
    <ion-button color="dark" shape="round" (click)="btnClicked()" routerLink="/second">
      Back</ion-button>
  </div>

  
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Enthusiasm</b></h4><p>Her enthusiasm was great.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/1.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Dialogue</b></h4><p>The dialogue led nowhere.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/2.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Economic</b></h4><p>This computer is economical.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/3.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Ironic</b></h4><p>George is ironic.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/4.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Sarcastic</b></h4><p>George is sarcastic.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/5.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Phenomenon</b></h4><p>Takis is a phenomenon.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/6.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Characteristic</b></h4><p>This is a characteristic example.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/7.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Program</b></h4><p>He had a program and passed the lessons.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/8.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Prophylaxis</b></h4><p>Sex without prophylaxis is dangerous.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/9.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Chaos</b></h4><p>Chaos prevails in the center.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/10.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Catastrophe</b></h4><p>The catastrophe of the world is approaching.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/11.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Panethnic</b></h4><p>The panethnic rally was canceled.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/12.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Unhypocritical</b></h4><p>George is unhypocritical.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/13.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Monologue</b></h4><p>The actor's monologue.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/14.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Emphasize</b></h4><p>The coach emphasized the defense.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/15.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Eugenic</b></h4><p>Although he has studied he is not eugenic.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/16.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Dynamism</b></h4><p>Dynamism has nothing to do with the leaf.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/17.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Politicians</b></h4><p>Politicians are thieves and hypocrites.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/18.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Numismatic</b></h4><p>Numismatic inflation creates problems.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/19.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Monopoly</b></h4><p>Matches were a state monopoly.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/20.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="container"><h4><b>Basic</b></h4><p>The basic player was injured.</p>
                <audio controls="">
                <source src="https://antonisk.com/ionic/en/21.mp3" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </div>
    
</ion-content>
