
<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      The Languages Application
      
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content padding class="background"></ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="Container">
<ion-button (click)="btnClicked()"
routerLink="/second">
  Let's Start</ion-button>
  </div>
</ion-content>
